<h1>Welcome to the Express Session With Handlebars Demo! </h1>
<h3 class="form-title">Login</h3>
<form id="loginForm" class="form">
    <label for="email" class="form-label">Email:</label>
    <input type="email" id="loginEmail" name="email" class="form-input">
    <label for="password" class="form-label">Password:</label>
    <input type="password" id="loginPassword" name="password" class="form-input">
    <button type="submit" class="form-button">Login</button>
</form>
<h3 class="form-title">No Account? Sign up!</h3>
<form id="signUpForm" class="form">
    <label for="username" class="form-label">Email:</label>
    <input type="text" id="signUpEmail" name="email" class="form-input">
    <label for="password" class="form-label">Password:</label>
    <input type="password" id="signUpPassword" name="password" class="form-input">
    <button type="submit" class="form-button">Sign up</button>
</form>
<script src="/js/login.js"></script>
