<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <nav class="main-nav">
        <ul class="nav-list">
            {{#if loggedIn}}
            <li class="nav-item"><span>Logged in as: {{email}}</span></li>
            {{/if}}
            <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
            {{#unless loggedIn}}
            <li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
            {{/unless}}
            {{#if loggedIn}}
            <li class="nav-item"><a class="nav-link" id="logoutButton" class="nav-link">Logout</a></li>
            {{/if}}
        </ul>
    </nav>
    {{{body}}}
    <script src="/js/nav.js"></script>
</body>
</html>